
body{
    font-family: sans-serif; 
}

header {
    display: flex;
    font-family: sans-serif; 
    /* padding: 30px 10px; מרווח סביב התפריט */
    text-align: center; /* יישור התפריט לימין */
}

nav ul {
    /* list-style-type: none; */
    margin: 10px;;
    padding: 35px;
    margin-right: 30%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(255, 11, 93); /* צבע הטקסט כאשר מעבירים עליו את העכבר */
}

/* סגנון עבור התמונה */
.link-image {
    max-width: 200px;
    height: auto; /* אורך מתאים בהתאם לרוחב */
    transition: transform 0.5s;
    margin-right: 20px; /* מרווח מימין בין התמונות */
    margin-top: 300px;
}

/* סגנון כאשר המשתמש עובר מעל התמונה */
.link-image:hover {
    transform: scale(1.1);
}
.container {
    font-family: sans-serif; 
    position: fixed; /* או position: absolute; */
    bottom: 0;
    left: 0; /* או ימין: 0; */
    width: 100%;
    display: flex; /* או grid */
    justify-content: center; /* אם תרצה את התמונות ממורכזות */
    background-color: #f0f0f0; /* רקע לדוגמה */
    padding: 10px; /* מרווח סביב התמונות */
}
